@font-face {
    font-family: "hussar";
    src: url(./fonts/aegean-font/Aegean-8jJ2.ttf)
}

h1 {
    font-family: "hussar", sans-serif;
}

.logotip {
    background-color: rgb(247, 178, 247);
}

.table {
    background: rgb(200, 200, 200);
}

.carousel-item {
    width: auto;
    height: 700PX;
}

h5 {
    color: black;
}

a {
    font-size: large;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
}

.form-reg {
    position: fixed;
    left: 20%;
    top: 10%;
}

.form-log {
    position: fixed;
    left: 20%;
    top: 30%;
}

.cdrbut{
    color: black;
}